*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
    background-color:rgb(7, 7, 29);
    color: white;
}
nav{
    background: #170e3a;
    height: 80px;
}
label.logo{
    color: rgb(235, 241, 255);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: rgb(247, 249, 255);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
a.active{
    background: #dbeeff;
    color:rgb(14, 28, 146);
    transition: .5s;
}
a:hover{
    background: #304c9b;
    color:rgb(171, 176, 228);
    transition: .5s;
}